---
layout: null
---
html { 
    background: url({{ site.baseurl }}/imgs/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.scaling-svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.appLogo {
    display: flex;
	position: relative;
	width: 85%;
    height: 100%;
    margin: auto auto;
	padding: 0;
}

.artist {
    display: flex;
    position: relative;
    margin: auto auto;
    border-radius: 3%;
    width: 90%;
    border: 2px solid purple;
}

#avatar {
    height: 33vw;
    width: 33vw;
    border-radius: 100%;
    border: 2px solid grey;
    background-color: white;
    margin: auto;
    margin-bottom: 40px;
}

#ryo {
    border: 1px solid grey;
    border-radius: 3%;
    background-color: rgba(0, 0, 0, 0.45);
    width: 40vw;
    margin: auto auto;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 4em;
    font-family: 'Open Sans';
    margin: -10px 0;
}
h2 {
    color: white;
    font-size: 2.5em;
    font-family: 'Open Sans';
}
h3 {
    color: white;
    padding-bottom: 20px;
    font-weight: thin;
    font-style: italic;
}
h4 {
    color: white;
    font-weight: 300;
}
h5.name {
    color: white;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: bold;
}
hr {
    width: 70%;
}
footer {
    padding-top: 100px;
    color: white;
    padding-bottom: 10px;
    font-weight: thin;
    font-size: 0.8em;
    font-style: italic;
}
footer > * > a, .duties > * > a {
    padding: 0;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.content {
    padding-top: 50px;
    padding-bottom: 40px;
    border-radius: 3vw;
    margin: 5vh 6vh 0 6vh;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
    align-items: center;
}
ul.duties {
    width: 90%;
    list-style: disc;
    text-align: left;
    font-weight: 300;
}
.duties > li {
    color: white;
    margin-bottom: 1em;
}

ul.social {
    list-style: none;
    padding: 0;
}
.social > li {
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    margin: 8px;
    display: inline-block;
    list-style: none;
    width: 65px;
    height: 65px;
}
.social > li:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}
a {
    color: white;
    padding: 15px;
    text-decoration: none;
}
.description {
    display: none;
}

@media (max-width: 450px) {
    ul {
        text-align: center;
    }
    .social > li {
        border-radius: 0%;
        border: none;
        color: white;
        margin: 8px;
        display: block;
        list-style: none;
        margin: 10px 0px;
        text-align: center;
        height: auto;
        width: auto;
    }
    .social > li:hover {
        background-color: none;
        transition: none;
    }
    a.button {
        text-align: justify;
        border: 2px solid white;
        border-radius: 5px;
        color: white;
        padding: 15px;
        padding-left: 30px;
        width: 70%;
    }
    .social > a:hover {
        -webkit-transition: 500ms;
        -moz-transition: 500ms;
        transition: 500ms;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        text-decoration: none;
    }
    .description {
        display: inline-block;
        color: white;
        font-family: Arial;
        font-size: 0.8em;
        margin-left: 20px;
    }
    .content {
        padding-top: 20px;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    #ryo {
        width: 70vw;
    }
    #avatar {
        width: 40vw;
        height: 40vw;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 1.5em;
    }
}
