---
permalink: /
image: /imgs/catloafprod.jpg
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="stylesheet" href="{{ "/css/front.css" | prepend: site.baseurl }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	    <link rel="preconnect" href="https://www.googletagmanager.com">
        <meta property="og:type" content="website" />

        <meta property="og:image" content="{{ site.url }}{{ site.image }}" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />

        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "{{ site.name }}",
            "url": "{{ site.url }}",
            "logo": "{{ site.url }}/imgs/catloafprod.jpg",
            "description": "{{ site.description }}",
            "contactPoint": {
                "@type": "ContactPoint",
                "email": "{{ site.email }}",
                "contactType": "Information"
            }
        }
        </script>

        {% include gan.html %}
        {% include favicon.html %}        
        {% seo %}
    </head>
    <body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag }}"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->I
        <div class="content">

            <div id="avatar">
                <div class="appLogo">
                    {% include logo.svg %}
                </div>    
            </div>

            <h1>{{ site.name }}</h1>
            <h3>{{ site.description }}</h3>
            <h4>Los Angeles, California</h4>
            <ul class="social">
                {% if site.github_username %}
                <li><a class="fa fa-2x fa-github button" href="https://github.com/{{ site.github_username }}"><span class="description">GitHub</span></a></li>
                {% endif %}

                {% if site.codepen_username %}
                <li><a class="fa fa-2x fa-codepen button" href="https://codepen.io/{{ site.codepen_username }}"><span class="description">CodePen</span></a></li>
                {% endif %}

                {% if site.facebook_username %}
                <li><a class="fa fa-2x fa-facebook button" href="https://facebook.com/{{ site.facebook_username }}"><span class="description">Facebook</span></a></li>
                {% endif %}

                {% if site.vk_username %}
                <li><a class="fa fa-2x fa-vk button" href="https://vk.com/{{ site.vk_username }}"><span class="description">ВКонтакте</span></a></li>
                {% endif %}

                {% if site.twitter_username %}
                <li><a class="fa fa-2x fa-twitter button" href="https://x.com/{{ site.twitter_username }}"><span class="description">Twitter</span></a></li>
                {% endif %}

                {% if site.google_plus_username %}
                <li><a class="fa fa-2x fa-google-plus button" href="https://plus.google.com/+{{ site.google_plus_username }}"><span class="description">Google +</span></a></li>
                {% endif %}

                {% if site.linkedin_username %}
                <li><a class="fa fa-2x fa-linkedin button" href="https://linkedin.com/in/{{ site.linkedin_username }}"><span class="description">LinkedIn</span></a></li>
                {% endif %}

                {% if site.vine_username %}
                <li><a class="fa fa-2x fa-vine button" href="https://vine.co/{{ site.vine_username }}"><span class="description">Vine</span></a></li>
                {% endif %}

                {% if site.instagram_username %}
                <li><a class="fa fa-2x fa-instagram button" href="https://instagram.com/{{ site.instagram_username }}"><span class="description">Instagram</span></a></li>
                {% endif %}

                {% if site.flickr_usernmae %}
                <li><a class="fa fa-2x fa-flickr button" href="https://flickr.com/photos/{{ site.flickr_username }}"><span class="description">Flickr</span></a></li>
                {% endif %}

                {% if site.steam_username %}
                <li><a class="fa fa-2x fa-steam button" href="http://steamcommunity.com/id/{{ site.steam_username }}"><span class="description">Steam</span></a></li>
                {% endif %}

                {% if site.soundcloud_username %}
                <li><a class="fa fa-2x fa-soundcloud button" href="https://soundcloud.com/{{ site.soundcloud_username }}"><span class="description">Soundcloud</span></a></li>
                {% endif %}

                {% if site.lastfm_username %}
                <li><a class="fa fa-2x fa-lastfm button" href="http://www.last.fm/user/{{ site.lastfm_username }}"><span class="description">Last.fm</span></a></li>
                {% endif %}

                {% if site.stack_of_username %}
                <li><a class="fa fa-2x fa-stack-overflow button" href="https://stackoverflow.com/users/{{ site.stack_of_username }}"><span class="description">Stack OF</span></a></li>
                {% endif %}

                {% if site.reddit_username %}
                <li><a class="fa fa-2x fa-reddit button" href="https://reddit.com/user/{{ site.reddit_username }}"><span class="description">Reddit</span></a></li>
                {% endif %}

                {% if site.medium_username %}
                <li><a class="fa fa-2x fa-medium button" href="https://medium.com/@{{ site.medium_username }}"><span class="description">Medium</span></a></li>
                {% endif %}

                {% if site.tumblr_username %}
                <li><a class="fa fa-2x fa-tumblr button" href="https://{{ site.tumblr_username }}.tumblr.com/"><span class="description">Tumblr</span></a></li>
                {% endif %}

                {% if site.weibo_username %}
                <li><a class="fa fa-2x fa-weibo button" href="https://weibo.com/{{ site.weibo_username }}"><span class="description">微博</span></a></li>
                {% endif %}

                {% if site.blog_url %}
                <li><a class="fa fa-2x fa-tags button" href="{{ site.baseurl }}{{ site.blog_url }}"><span class="description">Blog</span></a></li>
                {% endif %}

                {% if site.email %}
                <li><a class="fa fa-2x fa-envelope button" href="mailto:{{ site.email }}"><span class="description">Email</span></a></li>
                {% endif %}

                {% if site.public_key_url %}
                <li><a class="fa fa-2x fa-key button" href="{{ site.public_key_url }}"><span class="description">PGP Key</span></a></li>
                {% endif %}
            </ul>
            <hr/>
            <section id="portfolio">
                <h2>Our Artist Portfolio</h2>
                <div id="artists">
                    <div id="pete-griffin" class="artist-box">
                        <a href="https://petegriffinbass.com/"><img class="artist pete-griffin" src="imgs/pete-griffin.jpg" title="Pete Griffin" alt="Pete Griffin" /></a>
                        <h5 class="name"><a href="https://petegriffinbass.com/">Pete Griffin</a></h5>
                        <p class="subtitle">Grammy Award-Winning Bassist</p>
                        <ul class="duties">
                            <li><a href="https://petegriffinbass.com/">Website Design</a></li>
                        </ul>
                    </div>
                    <div id="progject" class="artist-box">
                        <a href="https://www.progject.com/"><img class="artist progject" src="imgs/progject.jpg" title="ProgJect" alt="ProgJect" /></a>
                        <h5 class="name"><a href="https://www.progject.com/">ProgJect</a></h5>
                        <p class="subtitle">The Ultimate Prog Rock Experience</p>
                        <ul class="duties">
                            <li><a href="https://www.progject.com/">Website Design</a></li>
                            <li>Social Media Management</li>
                        </ul>
                    </div>
                    <div id="ryo" class="artist-box">
                        <a href="https://www.ryookumoto.com/"><img class="artist ryo" src="imgs/ryo.jpg" title="Ryo Okumoto" alt="Ryo Okumoto" /></a>
                        <h5 class="name"><a href="https://www.ryookumoto.com/">Ryo Okumoto</a></h5>
                        <p class="subtitle">Progressive Rock and Fusion Keyboard Wizard</p>
                        <ul class="duties">
                            <li><a href="https://www.ryookumoto.com/">Multilingual Website Design</a></li>
                            <li><a href="https://www.ryookumoto.com/merch/">Merchandise Design</a></li>
                            <li>Social Media &amp; Business Management</li>
                            <li><a href="https://www.youtube.com/RyoOkumoto">Streaming Video Production</a></li>
                            <li>Online Marketing</li>
                        </ul>
                    </div>
                    <div id="psw" class="artist-box">
                        <a href="https://pswinds.org/"><img class="artist psw" src="imgs/psw.jpg" title="Peninsula Symphonic Winds" alt="Peninsula Symphonic Winds" /></a>
                        <h5 class="name"><a href="https://pswinds.org/">Peninsula Symphonic Winds</a></h5>
                        <p class="subtitle">Community Concert Band in Torrance, CA</p>
                        <ul class="duties">
                            <li><a href="https://pswinds.org/">Website Design</a></li>
                            <li><a href="https://www.youtube.com/channel/UCLs0HjcVt8pEJqNknpQD14A">Live Video Production</a></li>
                            <li>Social Media Management</li>
                        </ul>
                    </div>
                    <div id="profundo" class="artist-box">
                        <a href="https://profundobono.com/"><img class="artist profundo" src="imgs/profundobono.jpg" title="Profundo Bono" alt="Profundo Bono" /></a>
                        <h5 class="name"><a href="https://profundobono.com">Profundo Bono</a></h5>
                        <p class="subtitle">A Theater Company of Delaware Legal Professionals</p>
                        <ul class="duties">
                            <li><a href="https://profundobono.com">Website Design</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <footer>
                <p>A division of <a href="https://www.catloafsoft.com/" target="_new">Catloaf Software</a></p>
                <p>Copyright &copy; {{ site.time | date: '%Y' }} Catloaf Software, LLC. All rights reserved.</p>
            </footer>
        </div>
    </body>
</html>
